<h3>Welcome {{name}}</h3>
<p>Here are your Blogs</p>
{{#if blogs}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each blogs}}
            <tr>
                <td><a href="/blogs/{{_id}}">{{title}}</a></td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <a href="/blogs/edit/{{_id}}" class="btn black btn-float">
                    <i class="fas fa-user-edit"></i>
                    </a>

                    <form action="/blogs/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn black" type="submit">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>

                </td>
            </tr>

        {{/each}}
    </tbody>
</table>
{{else}}
<p>You do not have any blogs</p>
{{/if}}